@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");


#infographic .circle {
   width: 320px;
   height: 320px;
   border-radius: 50%;
   border: 7px double;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   padding: 40px;
   position: absolute;
   left: 50%;
   margin: 40px 0;
}

#infographic section:nth-child(odd) .circle {
   transform: translateX(-100%);
}

#infographic article {
   max-width: 410px;
   margin-bottom: 20px;
   cursor: pointer;
   left: 50%;
   position: relative;
}

#infographic article header {
   border-top-right-radius: 30px;
   border-bottom-right-radius: 30px;
}

#infographic article header i {
   display: flex;
   font-size: 2em;
   border-radius: 50%;
   background-clip: padding-box;
   padding: 14px;
   transition: transform 0.4s;
   color: #fff;
   border: 16px solid var(--bs-dark);
   margin: -16px 0 -16px -20px;
}

#infographic article:hover header i {
   transform: scale(1.2);
}

#infographic article.active header i {
   transform: none;
}

#infographic article .body {
   background: var(--bgColor);
   padding: 0 20px;
   border-bottom-right-radius: 30px;
   border-bottom-left-radius: 30px;
   max-height: 0;
   transition: max-height 0.5s, padding 0.5s;
   overflow: hidden;
}

#infographic article .body .btn {
   padding: 3px 10px;
   text-transform: uppercase;
}

#infographic :nth-child(even) article {
   text-align: right;
   transform: translateX(-100%);
}

#infographic :nth-child(even) article header {
   flex-flow: row-reverse;
   border-top-left-radius: 30px;
   border-bottom-left-radius: 30px;
}

#infographic :nth-child(even) article header i {
   margin: -16px -20px -16px 0;
}

#infographic section:nth-child(odd) article.active header {
   border-bottom-right-radius: 0;
}

#infographic section:nth-child(even) article.active header {
   border-bottom-left-radius: 0;
}

#infographic article.active .body {
   padding: 20px;
   max-height: 300px;
   border: 1px solid;
}

/* 
    Articles Positioning
    Uncomment these for debugging article positions
 */
/*#infographic .circle {
    outline: 96px solid yellow;
 }
 #infographic article header i {
    opacity: 0.5;
    position: relative;
 }
 #infographic article header i:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    transform: translate(-2px, -2px);
    background: blue;
 }*/

#infographic article[data-step="1"] {
   margin-left: 6px;
}

#infographic article[data-step="2"] {
   margin-left: 54px;
}

#infographic article[data-step="3"] {
   margin-left: 71px;
}

#infographic article[data-step="4"] {
   margin-left: 61px;
}

#infographic article[data-step="5"] {
   margin-left: 22px;
}

#infographic article[data-step="6"] {
   margin-left: -5px;
}

#infographic article[data-step="7"] {
   margin-left: -54px;
}

#infographic article[data-step="8"] {
   margin-left: -70px;
}

#infographic article[data-step="9"] {
   margin-left: -60px;
}

#infographic article[data-step="10"] {
   margin-left: -21px;
}

#infographic article[data-step="11"] {
   margin-left: 7px;
}

#infographic article[data-step="12"] {
   margin-left: 55px;
}

#infographic article[data-step="13"] {
   margin-left: 73px;
}

#infographic article[data-step="14"] {
   margin-left: 62px;
}

#infographic article[data-step="15"] {
   margin-left: 23px;
}

#infographic article[data-step="16"] {
   margin-left: -102px;
}